1. Print the first 5 positive integers in ascending order with one number 
in each line

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [4]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [2]:
a = int(input())
print(a**2)

5
25

4.Accept two integers as input and print their sum as output.

In [3]:
n1 = int(input())
n2 = int(input())
print(n1+n2)

10
15
25

5. Accept two words as input and print the two words after adding a 
space between them

In [5]:
s1 = input()
s2 = input()
print(s1 + " "+ s2)

hello
world
hello world

In [6]:
print(input(), input())

Rounak
Show
Rounak Show

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [8]:
vehicle_number = input()
print(vehicle_number[0:2])

WB45642135
WB

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [14]:
n = input()
d1 = int(n[0])
d2 = int(n[1])
d3 = int(n[2])
d4 = int(n[3])
d5 = int(n[4])

dsum = d1+d2+d3+d4+d5
print(dsum)

12345
15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [16]:
s1 = input()
s2 = input()
s3 = input()
s4 = input()
s5 = input()
print(f"{s1} {s2} {s3} {s4} {s5}.")

hello
world
this
is
sun
hello  world this is sun.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [17]:
DATE = input("date in DD-MM-YYYY format: ")
print(DATE[-4:])

date in DD-MM-YYYY format: 19-11-2022
2022

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [22]:
seq = list(input())
print(seq)
tot = 1
for i in seq:
    tot = tot * int(i)
print(tot)

12345
['1', '2', '3', '4', '5']
120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [26]:
x = int(input())
y = int(input())
print(x**y)
print(len(str(x**y)))

5
7
78125
5

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [36]:
s = input()
length = len(s)
if length%2 ==0:
    if s[-1] == ".":
        s = s[:-1]
    else:
        s = s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

welcome
lco

In [37]:
s = input()
length = len(s)
if length%2 ==0:
    if s[-1] == ".":
        s = s[:-1]
    else:
        s = s+"."
n = int((len(s)-1)/2)
print(s[n-1:n+2])

hello.
ell

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [41]:
a = int(input())
b = int(input())
c = int(input())

if (a**2 + b**2 == c**2) or (b**2 + c**2 == a**2) or (b**2 + a**2 == c**2):
    print("YES")
else:
    print("NO")

3
4
5
YES

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [51]:
e1 = int(input())
e2 = int(input())
e3 = int(input())
e4 = int(input())
e5 = int(input())

if (e1+e2)%2 == 0 and (e2+e3)%2 == 0 and (e3+e4)%2 == 0 and (e4+e5)%2 == 0:
    print("YES")
else:
    print("No")

2
4
6
8
10
YES

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [60]:
s = input().lower()
vowels = ["a", "e", "i", "o", "u"]
X = []
for vowel in vowels:
    if vowel in s:
        X.append(vowel)
if len(X) == 0:
    print("none")
else:
    print(set(X))

xcvbnm
none

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [69]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()

if d1==d2:
    if n1<n2:
        print(n1)
    else:
        print(n2)
elif d1[-4:] != d2[-4:]:
    if int(d1[-4:]) < int(d2[-4:]):
        print(n2, "is younger")
    else:
        print(n1, "is younger")
elif d1[3:5] != d2[3:5]:
    if int(d1[3:5]) < int(d2[3:5]):
        print(n2, "is younger")
    else:
        print(n1, "is younger")
else:
    if int(d1[0:2]) < int(d2[0:2]):
        print(n2, "is younger")
    else:
        print(n1, "is younger")

rik
10-12-2000
panda
31-05-2001
panda is younger

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [75]:
password = input()

if 8<= len(password) <=32 and password[0].isalpha() and '/' not in password and '\\' not in password and '=' not in password and '\'' and '\"' not in password and ' ' not in password:
    print("Good Password")
else:
    print("weak password")

python@212121212
Good Password

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [81]:
n = int(input())
isprime = True
if n == 1:
    isprime = False
else:
    for i in range(2,n):
        if n%i == 0:
            isprime = False
if isprime == True:
    print(n, "is a prime number")
else:
    print(n, "not a prime number")

1
1 not a prime number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [82]:
a = input()
b = input()

for c in a:
    if c in b:
        b = b.replace(c, "")
print(b)

sam
ramu
ru

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [20]:
n = input()
isnumber = False

if len(n) == 10 and int(n[0])>5:
    for i in range(10):
        if n.count(n[i])<7:
            isnumber = True
            if n[i]*5 in n:
                isnumber = False
else:
    isprime = False
            
if isnumber == True:
    print("Okay")
else:
    print("not okay")

9875561533
Okay

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [29]:
s = input().split(" ")
w = input()
if w in s:
    print("YES")
    print(s.count(w))
else:
    print("No")

i write code in ineuron and i write code in python
code
YES
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [3]:
def factorial(n):
    if n==0:
        return 1
    elif n<0:
        return -1
    else:
        fac = 1
        for i in range(1, n+1):
            fac = fac * i
        return fac

In [7]:
factorial(6)

720

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [39]:
def get_max(L):
    maxi = L[0]
    for i in L:
        if i > maxi:
            maxi = i
    return maxi
def get_min(L):
    mini = L[0]
    for i in L:
        if i < mini:
            mini = i
    return mini
    

def get_range(L):
    A = get_max(L)
    B = get_min(L)
    return A - B

In [40]:
get_range([2,3,4,8,10])

8

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [48]:
def read_file(filename):
    f = open(filename, "r+")
    for i in f.readlines():
        print(i.replace('\'', " "))

In [49]:
read_file("google.txt")

This is my code in try

hello

world

welcome to Google

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [12]:
roll_number = input().upper()

if roll_number[0] == "D" and roll_number[1] == "S":
    print("TRUE")
else:
    print("False")

BR18B0000
False

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [15]:
number_plate = input().upper()
print(number_plate[0:4])

if number_plate[0:4] == "TN07":
    print("TRUE")
else:
    print("false")

TN07WS29
TN07
TRUE

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [27]:
s = input()
a = int(input())
b = int(input())
s1 = s[a:b]
print(s1)
s2 = ""
while len(s2) <= len(s):
    s2 = s2 + s1
print(s2, "\n")
    
print(len(s))
print(len(s2))

This is the class of Data Science
2
8
is is
is is is is is is is is is is is is

33
36

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [28]:
Sapphire = [1, 5, 9, 13, 17, 21]
Peridot = [2, 6, 10, 14, 18, 22]
Ruby = [3, 7, 11, 15, 19, 23]
Emerald = [4, 8, 12, 16, 20, 24]

n = int(input("Enter roll number: "))
if n<25:
    if n in Sapphire:
        print("You're in Sapphire")
    elif n in Peridot:
        print("You're in Peridot")
    elif n in Ruby:
        print("You're in Ruby")
    elif n in Emerald:
        print("You're in Emerald")

Enter roll number: 17
You're in Sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [34]:
back = int(input("enter your backlog: "))
cgpa = float(input("Enter the CGPA:  "))

if back <=5 and cgpa > 6.0:
    print("You're eligible")
print("Your package:", cgpa*5, "lakhs")

enter your backlog: 1
Enter the CGPA:  8.9
You're eligible
Your package: 44.5 lakhs

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [38]:
s = input()

palin_s = s[::-1]

if s == palin_s:
    print("It is a palindrome")
else:
    print("This is not a palindrome")

madam
It is a palindrome

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [14]:
def get_password_strength(username, p):
    score = 0
    capital = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    c_flag = False
    small = 'abcdefghijklmnopqrstuvwxyz'
    s_flag = False
    num = '0123456789'
    n_flag = False
    nc_flag = True
    
    if username in p:
        print("PASSWORD SHOULD NOT CONTAIN USERNAME")
        return
    if len(p) > 7:
        score = score + 1
    for i in range(len(p)):
        if p[i] in small:
            s_flag = True
        elif p[i] in capital:
            c_flag = True
        elif p[i] in num:
            n_flag = True
        if n_flag:
            for x in range(len(p)-2):
                if p[x] == p[x+1] and p[x+1] == p[x+2]:
                    nc_flag = False
    if c_flag and s_flag:
        score = score + 1
    if n_flag and nc_flag:
        score = score + 1
    if not p.isalnum():
        score = score + 1
    if score == 4:
        print("very strong")
        return
    if score == 3:
        print("strong")
        return
    if score == 2:
        print("moderate")
        return
    if score == 1:
        print("weak")
        return
    if score == 0:
        print("Use a different password")

In [16]:
get_password_strength(username="rounak", p= "A25@bb5D")

very strong

33.decorator that logs the date and time

In [1]:
import logging
logging.basicConfig(filename = "TEST.log", level = logging.DEBUG, format = '%(asctime)s, %(message)s, %(levelname)s')

In [5]:
def test(func):
    def test1(n):
        logging.info("Execution started")
        print("This is my decorator function")
        func(n)
        logging.info("Execution Successful")
        return func(n)
    return test1

In [6]:
@test
def test2(n):
    if n==0:
        return 1
    elif n<0:
        return -1
    else:
        fac = 1
        for i in range(1, n+1):
            fac = fac * i
        return fac

In [7]:
test2(6)

This is my decorator function

720

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [4]:
li = [1,1,1,2,2,3,3,4]
s = set()
for i in li:
    if li.count(i)%2 != 0:
        s.add(i)
print(s)

{1, 4}

35.What are decorators in Python?

A decorator is a function which takes another function as argument.

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [8]:
nl[:] = [i for i in nl if i<=50]
print(nl)

[10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [11]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]

output = set()

for i in sample_list:
    if sample_list.count(i) > 1:
        output.add(i)
print(list(output))

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [30]:
def test(x,y):
    def test1(x,y):
        return x+y
    z = test1(x,y) + 'Developer'
    return z

In [31]:
test('Emma', 'Kelly')

'EmmaKellyDeveloper'

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [50]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [51]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [57]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [63]:
a = 0
for i in range(10):
    print("current number is", i)
    print("previous number is", a)
    s,a = i+a, i
    
    print("sum", s)

current number is 0
previous number is 0
sum 0
current number is 1
previous number is 0
sum 1
current number is 2
previous number is 1
sum 3
current number is 3
previous number is 2
sum 5
current number is 4
previous number is 3
sum 7
current number is 5
previous number is 4
sum 9
current number is 6
previous number is 5
sum 11
current number is 7
previous number is 6
sum 13
current number is 8
previous number is 7
sum 15
current number is 9
previous number is 8
sum 17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [64]:
ss = "ineuron"
for i in range(len(ss)):
    if i%2 ==0:
        print(ss[i])

i
e
r
n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [65]:
for i in range(1,11):
    for j in range(1,11):
        print(i, "X", j, "=", i*j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [77]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
output = set(sample_list)
unique_items = tuple(output)

print(unique_items)
print(max(unique_items))
print(min(unique_items))

(65, 99, 41, 45, 87, 94)
99
41

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [79]:
x  = lambda a: a+15
x(15)

30

In [80]:
A = lambda x,y: x*y
A(5,6)

30

46. Write a Python program to sort a list of tuples using Lambda.

In [85]:
L = [(1,2,3), (11,22,33), (6,7,8)]
sorting = lambda l: l.sort()

In [86]:
sorting(L)

In [89]:
L

[(1, 2, 3), (6, 7, 8), (11, 22, 33)]

47. Write a Python program to extract year, month, date and time using Lambda.

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [94]:
l = [1,2,3,4,5,6,7,8,9]

def dsd(l):
    e = 0
    o = 0
    for i in l:
        if i%2 ==0:
            e = e+1
        elif i%2 !=0:
            o = o+1
    return e,o
dsd(l)              

X = lambda a: for i in a if i%2 ==0

(4, 5)

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [116]:
s = ['a', 'b', 'c', 'd', 'e', 'd','a', 'v']

def test10(x):
    return x.upper(), x.lower()

output = map(test10, s)
print(set(output))

{('E', 'e'), ('C', 'c'), ('V', 'v'), ('D', 'd'), ('B', 'b'), ('A', 'a')}

50.  Write a Python program to square the elements of a list using map() function.

In [119]:
l = [10,11,12,13,14,15]

list(map(lambda x: x**2, l))

[100, 121, 144, 169, 196, 225]