In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [3]:
def test1(*args):# * means any number of arguments you can pass
    return args

In [4]:
test1(1,2,4,5,88,78,87,6,6,54)

(1, 2, 4, 5, 88, 78, 87, 6, 6, 54)

In [5]:
test1(100,200)

(100, 200)

In [6]:
test1([12,12,3,4,6], "hello", (9,8,7,4,56))

([12, 12, 3, 4, 6], 'hello', (9, 8, 7, 4, 56))

In [12]:
def test2(*name): 
    # It doesnot necessary to write args,
    # we can write any word, name, variable name, etc.
    #args is not a reserved keyword
    # we just have to add * 
    return name

In [10]:
test2("rounak", "sudh", "nandi","rudra")

('rounak', 'sudh', 'nandi', 'rudra')

In [13]:
def test3(*name, a):
    return name, a

In [17]:
test3(1,2,3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [19]:
test3(1,2,45,55, a = 100)

((1, 2, 45, 55), 100)

In [20]:
def test4(*name, a,b,c,d):
    return name, a,b,c,d

In [21]:
test4(325,9,44,64,8, a = 55, b = 88, c= 100, d= 89)

((325, 9, 44, 64, 8), 55, 88, 100, 89)

In [31]:
def test3(a, *name):
    return a, name

In [32]:
test3(a = "hello", "world", "welcome")

SyntaxError: positional argument follows keyword argument (2279359921.py, line 1)

In [33]:
test3("world", "welcome", a = "hello")

TypeError: test3() got multiple values for argument 'a'

In [34]:
test3("world", "welcome","hello")

('world', ('welcome', 'hello'))

In [37]:
test3("hello", "world", "welcome")

('hello', ('world', 'welcome'))

In [38]:
def test5(a, *name, b, c):
    return a , name, b, c

In [41]:
test5("sfds", [1,3,4,6,5], 23,"YOLO",4,6,5, b = 9, c = 8)

('sfds', ([1, 3, 4, 6, 5], 23, 'YOLO', 4, 6, 5), 9, 8)

In [46]:
def test6(*args):
    for i in args:
        if type(i) == list:
            a= print(i)
    return a

In [47]:
test6("sfds", [1,3,4,6,5], 23,"YOLO",4,6,5)

[1, 3, 4, 6, 5]

In [48]:
test6("sfds", [1,3,4,6,5], 23,"YOLO",4,6,5, [1,2,388,9,4,5,6])

[1, 3, 4, 6, 5]
[1, 2, 388, 9, 4, 5, 6]

In [49]:
def test6(*args):
    l =[]
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [50]:
test6("sfds", [1,3,4,6,5], 23,"YOLO",4,6,5, [1,2,388,9,4,5,6])

[[1, 3, 4, 6, 5], [1, 2, 388, 9, 4, 5, 6]]

In [51]:
d = {"a" : [1,2,3,4], "b": "Hello"}

In [52]:
d

{'a': [1, 2, 3, 4], 'b': 'Hello'}

In [53]:
#** means keyword-arguments; key-value pair
def test7(**kwargs):
    return kwargs

In [54]:
test7(4,54,6,7,54,3,5,5)

TypeError: test7() takes 0 positional arguments but 8 were given

In [56]:
test7(a = 345, b = 4566, c= "hello") #key-value pair and returns a dictionary

{'a': 345, 'b': 4566, 'c': 'hello'}

In [57]:
def test8(**name):
    return name

In [58]:
test8(A = "hello", B = [12,3,4,6], C = 100+3j)

{'A': 'hello', 'B': [12, 3, 4, 6], 'C': (100+3j)}

you can not pass number as a key in this process

In [59]:
test8(1 = "hello")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1313476806.py, line 1)

In [60]:
def test9(**name):
    return name

In [61]:
test9(name = "Rounak", age = 21, phone_numner = 9875561533, mail_id = "rikbale@gmail.com")

{'name': 'Rounak',
 'age': 21,
 'phone_numner': 9875561533,
 'mail_id': 'rikbale@gmail.com'}

In [62]:
def test10(a, **name):
    return name, a

In [64]:
test10(1000, A = "hello", B = [12,3,4,6], C = 100+3j)

({'A': 'hello', 'B': [12, 3, 4, 6], 'C': (100+3j)}, 1000)

In [65]:
def test11(a, **kwargs, *args):
    return name, a

SyntaxError: invalid syntax (3704341839.py, line 1)

In [66]:
def test12(a, *args, **kwargs):
    return a, args, kwargs

In [67]:
test12(1001, 1,5,5,6,3,101, name = "rik", mail_id = "rikbale@gmail.com")

(1001, (1, 5, 5, 6, 3, 101), {'name': 'rik', 'mail_id': 'rikbale@gmail.com'})

### Function without a name

### Anonymous Function

## Lambda function

In [68]:
def test13(a,b):
    return a*b

In [69]:
test13(9,3)

27

In [70]:
lambda a, b: a*b

In [71]:
x = lambda a, b: a*b

In [72]:
x(9,3)

27

In [73]:
x(22, 4)

88

In [74]:
x = lambda a, b: (a*b , a+b)

In [75]:
x(9,3)

(27, 12)

In [76]:
x = lambda *a: a

In [77]:
x(2,6,5,46,54)

(2, 6, 5, 46, 54)

In [78]:
x = lambda *a: a*a

In [79]:
x(2,6)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [92]:
x = lambda a: [i for i in a]

In [93]:
x([1,23,88,4,6,5])

[1, 23, 88, 4, 6, 5]

In [94]:
x(45)

TypeError: 'int' object is not iterable

In [95]:
a = lambda **kwargs: kwargs

In [96]:
a(A = "hello", B = "World", C = "Ubisoft")

{'A': 'hello', 'B': 'World', 'C': 'Ubisoft'}

--------------

In [101]:
a = 10
def test16(c, d):
    return c*d

In [102]:
test16(a, 50)

500

In [105]:
a = 10
def test16(c, d):
    a = 5
    return c*d

In [106]:
test16(a, 50)

500

In [107]:
a = 10
def test16(c, d):
    c = 5
    return c*d

In [109]:
test16(10, 50)

250

In [111]:
c = 10
def test16(c, d):
    c = 5
    return c*d

In [112]:
test16(10, 50)

250

In [113]:
c

10

In [114]:
l = [1,23,4,5,6,7,8]

l1 = []
for i in l:
    l1.append(i+2)

In [115]:
l1

[3, 25, 6, 7, 8, 9, 10]

In [117]:
def test17(a):
    l2 = []
    for i in a:
        l2.append(i+2)
    return l2

In [118]:
test17(l)

[3, 25, 6, 7, 8, 9, 10]

In [119]:
x = lambda a: [i+2 for i in a]

In [120]:
x(l)

[3, 25, 6, 7, 8, 9, 10]

In [121]:
l2 = [i+2 for i in l]

In [122]:
l2

[3, 25, 6, 7, 8, 9, 10]

In [124]:
[(i**2, i**3) for i in l if i < 8]

[(1, 1), (16, 64), (25, 125), (36, 216), (49, 343)]

In [125]:
d = {i: i**2 for i in range(10)}

In [126]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [129]:
d1 ={}
for i in range(10):
    d1[i] = i**2

In [130]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [131]:
(i for i in range(10))

In [132]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)