In [2]:
def test():
    pass

In [6]:
#create a function:

def test1():
    print("This is my first function")

In [7]:
test1() #calling of a function

This is my first function

In [8]:
a = test1()

This is my first function

In [9]:
a

In [10]:
a + "sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
type(test1())

This is my first function

NoneType

In [12]:
a = test1()

This is my first function

In [13]:
str(a)

'None'

Type-casting of a function gives 'none'

To solve this issue, we put return keyword.

In [14]:
def test2():
    return "This is my funcTion"

In [15]:
test2()

'This is my funcTion'

In [19]:
type(test2()) #now it doesnot give Nonetype.

str

In [20]:
test2() + " Rounak"

'This is my funcTion Rounak'

In [21]:
def test3():
    return 113331

In [22]:
type(test3())

int

It is possible to return multiple data types in function

In [24]:
def test4():
    return 3,4,"rik", [11,55,66]

In [25]:
test4()

(3, 4, 'rik', [11, 55, 66])

It returns me a tuple

In [26]:
type(test4())

tuple

In [27]:
# We can store it in a variable

b = test4()

In [28]:
b

(3, 4, 'rik', [11, 55, 66])

In [29]:
b[1]

4

In [30]:
b[3][0]

11

In [31]:
test4()

(3, 4, 'rik', [11, 55, 66])

In [32]:
A,B,C,D = test4()

In [33]:
A

3

In [34]:
B

4

In [35]:
C

'rik'

In [36]:
D

[11, 55, 66]

In [37]:
def test5():
    a = 6*7/6
    return a

In [38]:
test5()

7.0

In [1]:
l = [1,2,3,4,5,88, "Rik", [44,55,978]]

In [2]:
def test6(a):
    if type(a) == list:
        n = []
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [3]:
test6(l)

[1, 2, 3, 4, 5, 88]

In [4]:
mm = "STRING"

In [5]:
test6(mm)

UnboundLocalError: local variable 'n' referenced before assignment

In [7]:
test6([45,1,2,556, "hello"])

[45, 1, 2, 556]

In [12]:
def test7(c):
    if type(c) == dict:
        return c.keys()
    else:
        return "You have not passed a dictionary"

In [13]:
di = {"A" : "hello",
     "B" : "Hi",
     "C": "Hola"}

In [14]:
test7(di)

dict_keys(['A', 'B', 'C'])

In [15]:
test7("hkhkhhk")

'You have not passed a dictionary'

In [28]:
def test8(l1, l2):
    if type(l1)== list and type(l2) == list:
        l1.extend(l2)
        return l1
    else:
        return "You have not passed lists"

In [29]:
LL = [1,2,3,4,5,6]
ll = [100,99,98,97,96,95]

In [30]:
test8(LL,ll)

[1, 2, 3, 4, 5, 6, 100, 99, 98, 97, 96, 95]

In [48]:
def test9(n):
    """ This is a function to print star triangle pattern."""
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
     
    # inner loop to handle number of columns
    # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ",end="")
      
        # ending line after each row
        print("\r")

In [49]:
test9(5)

*
* *
* * *
* * * *
* * * * *

In [50]:
  help(test9)

Help on function test9 in module __main__:

test9(n)
    This is a function to print star triangle pattern.