In [ ]:
cart = []

while True:
    user_input = input("What you want to purchase [watch, phone, laptop, shirt]: ").lower()
    if user_input:
        cart.append(user_input)
    else:
        break
 
print(f"Your shopping cart: {cart}")

amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total = 0

for item in amazon_website:
    for ele in cart:
        if item[0] == ele:
            total = total + item[1]
            print(f"After adding {item[0]} which costs: {item[1]}, total amount is: {total}")

print(f"Your total bill is: {total}")

In [ ]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

B = [i 500 for i in l if i[-1] != 500]

In [ ]:
B

--------

In [ ]:
s = "Welcome to iNeuron"

In [ ]:
for i in range(len(s)-1, -1, -1):
    print(s[i], i)

In [ ]:
for i in range(len(s), -1, -1):
    print(i)

In [ ]:
for i in range(17, -1, -1):
    print(i)

In [ ]:
s[::-1]

In [ ]:
i = len(s) - 1

while i >=0:
    print(s[i])
    i = i-1

In [ ]:
s = "ineuron"
v = "AaEeIiOoUu"

for i in s:
    if i in v:
        print(f"{i} is a vowel.")
    else:
        print(f"{i} is not a vowel.")

In [ ]:
A = "madam"

if A == A[::-1]:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

In [ ]:
B = "madam"

for i in range(len(B)):
    if B[i] != B[len(B)-i-1]:
        print("not a palindrome")
        break
else:
    print("it's a palindrome")

In [ ]:
d = {"india": "IN",
    "canada": "CA",
     "china": "CH",
     "united states": "US"
    }

In [ ]:
"india" in d

In [ ]:
"IN" in d

In [ ]:
"IN" in d.values()

In [ ]:
d.keys()

In [ ]:
for k in d:
    print(k)

In [ ]:
short = []
long = []

for k in d:
    if len(k)<=5:
        short.append(k)
    else:
        long.append(k)

In [ ]:
print(short)
print(long)

In [ ]:
def myfun(a):
    a = a+2
    a = a*2
    return a

print(myfun(2))

In [ ]:
d_1 = {"ineuron": {
    "a" : 14,
    "b": 10,
    "c": 4
},
      "course": { "d": 45,
       "e": 34,
       "f": 1   }
             
}

In [ ]:
for k in d_1.values():
    print(k)
    for l in k.values():
        print(l)

In [ ]:
B =[]
for k in d_1.values():
    for l in k.values():
        B.append(l)
    print(max(B))

In [10]:
d_1 = {"ineuron": {
    "a" : 14,
    "b": 10,
    "c": 4
},
      "course": { "d": 45,
       "e": 34,
       "f": 1   }
             
}

for i in d_1.values():
    mx= 0
    for k in i.values():
        if k > mx:
            mx= k
    print(mx)

14
45

In [11]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [12]:
for i in d_1.keys():
    print(i)
    print(max(d_1[i].values()))

ineuron
14
course
45

In [13]:
d_1 = {"ineuron": {
    "a" : 14,
    "b": 10,
    "c": 4
},
      "course": { "d": 45,
       "e": 34,
       "f": 1   },
       "g": 34,
       "h" : [45,6,7,8,9,3],
       "i" : (45,34,2),
       "k" : "sudh"
             
}

In [14]:
d_1

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [45, 6, 7, 8, 9, 3],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [15]:
l1 = []

for i in d_1.values():
    if type(i) == dict:
        l1.append(max(i.values()))
    elif type(i) == list:
        l1.append(max(i))
    elif type(i) == tuple:
        l1.append(max(i))
    elif type(i) == str:
        pass
    else:
        l1.append(i)
print(max(l1))

45